.button--icon {
  &--point,
  &--map,
  &--status {
    &:before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      mask-size: 14px 14px;
      margin-right: 7px;
      position: relative;
      top: 1px;
      mask-position: center center;
      mask-repeat: no-repeat;
    }
  }

  &--point {
    &:before {
      mask-image: icon('pin');
    }
  }
  &--status {
    &:before {
      mask-image: icon('status');
    }
  }
  &--map {
    &:before {
      mask-image: icon('map2');
    }
  }
}

.button--primary {
  &.button--icon--point,
  &.button--icon--map,
  &.button--icon--status {
    &:before {
      background-color: var(--colorGinAppBackground);
    }
  }
}
.button--flat {
  &.button--icon--point,
  &.button--icon--map,
  &.button--icon--status {
    &:before {
      background-color: var(--colorGinPrimary);
    }
    &:hover, &:active {
      &:before {
        background-color: var(--colorGinAppBackground);
      }
    }
  }
}

.flexy-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .push-right {
    margin-left: inherit;
  }

  @include mq($breakpointSmall) {
    .push-right {
      margin-left: auto;
    }
  }
}
