.field--name-moderation-state {
  margin-top: 2rem;
}
.field--name-field-address  {
  margin: 1rem 0;
  .address {
    padding-left: 1rem;
  }
}

.field--name-field-host-kids,
.field--name-field-host-adults {
  font-size: 1.5em;
  margin: 1rem 0;
}
