.call-to-volunteer {
  margin: 1rem 0 0;
}
.path-frontpage .page-title {
  white-space: normal;
}
.node--view-mode-full {
  .field--name-field-host-kids,
  .field--name-field-host-adults,
  .field--name-field-type,
  .field--name-field-contact-person,
  .field--name-field-organization-name {
    font-size: 1.5em;
    margin: 0.5rem 0;
  }
}

.view-border-information-countries {
  .view-content {
    text-align: center;

    .views-row {
      .button {
        padding: 24px 40px;
        font-size: 2rem;
        &:before {
          width: 20px;
          height: 20px;
          mask-size: 20px 20px;
          margin-right: 15px;
        }
      }
    }
  }
}

.views-table {
  .view-field-location-table-column {
    .phone-list-wrapper {
      margin: 0.5rem 0;
    }
  }
}

.status {
  &--low {
    color: var(--colorGinGreen);
  }
  &--average {
    color: var(--colorGinWarning);
  }
  &--avg {
    color: var(--colorGinWarning);
  }
  &--high {
    color: var(--colorGinWarning);
  }
  &--busy {
    color: var(--colorGinDanger);
  }
}
