.call-to-volunteer {
  margin: 1rem 0 0;
}
.path-frontpage .page-title {
  white-space: normal;
}
.node--view-mode-full {
  .field--name-field-host-kids,
  .field--name-field-host-adults,
  .field--name-field-type,
  .field--name-field-organization-name {
    font-size: 1.5em;
    margin: 0.5rem 0;
  }
}
