.toolbar {
  #toolbar-bar  {
    #toolbar-item-administration-tray {
      .toolbar-icon {
        &.toolbar-icon-admin-toolbar-tools-help.toolbar-icon-default {
          &:before {
            mask-image: icon('logo');
            background: halfs(#005bbc, #ffd600);
          }
        }
        &.toolbar-map.toolbar-icon {
          &:before {
            mask-image: icon('location');
          }
        }
        &.toolbar-help.toolbar-icon {
          &:before {
            mask-image: icon('help');
          }
        }
        &.toolbar-icon-views-viewviews-dashboards-page-locations.toolbar-icon {
          &:before {
            mask-image: icon('grid');
          }
        }
      }
    }

    .toolbar-icon {
      &.toolbar-icon-language {
        &:before {
          mask-image: icon('tmgmt');
        }
      }
    }
  }
}
