<!-- Add you custom twig html here -->
<h3>{{ 'Fellow neighbors, we urge you to support Ukrainian citizens by providing shelter and provisions if necessary.'|t }}</h3>
<a href="/listings" class="button button--primary">{{ "I am a refugee looking for shelter" }}</a>
{% if logged_in %}
  <a href="/node/add/host_location" class="button button--action">{{ "Add Location to the Map" }}</a>
{% else %}
  <a href="/user/register?destination=node/add/host_location" class="button button--action">{{ "I am a volunteer willing to host" }}</a>
{% endif %}
